.headerComponent {
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 5px 2px rgba(56, 64, 80, 0.10);
}

img{
    width: 20%;
}

.search {
    border-right: 2px solid #0074C7;
    border-bottom: 2px solid #0074C7;
}
input{
    border: none;
}

.menuButton {
    background-color: #0074C7;
    color: white;
    border-radius: 10;
}