.footerComponent {
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 5px 2px rgba(56, 64, 80, 0.10);
    max-height: fit-content;
}

.footerMenu {
    display: flex;
}
.menuSection {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
a:hover {
    opacity: 0.5;
}

address{
    font-style: normal;
}
.phone {
    color: black;
    font-style: normal;
    text-decoration: none;
}
.phone:hover {
    opacity: 0.5;
}