<div class="footerComponent">
    <nav class="footerMenu">
        <div class="menuSection">
            <a routerLink="/mentions-legales" class="menu-item">Mentions légales</a>
            <a routerLink="/donnees-personnelles" class="menu-item">Données personnelles</a>
        </div>
        <div class="menuSection">
            <a routerLink="/accessibilite" class="menu-item">Accessibilité</a>
            <a routerLink="/cookies" class="menu-item">Cookies</a>
        </div>
    </nav>

    <section>
        <strong>Adresse</strong>
        <address>101 cours Charlemagne <br>
        CS 20033 <br>
        69269 LYON CEDEX 02 <br>
        France <br>
        <a class="phone" href="tel:+33426734000">+33 (0)4 26 73 40 00</a></address>
    </section>
</div>
