@font-face {
    font-family: 'GraphikCompact';
    src: url(/fonts/GraphikCompact-Regular-Trial.otf), url(/fonts/GraphikCompact-Bold-Trial.otf), url(/fonts/GraphikCompact-Light-Trial.otf),
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    font-family: 'GraphikCompact' }
