<div class="accueilComponent">
    <div class="choice">
        <h1>Comment trouver mon artisan ?</h1>
        <ol>
            <li>Choisir la catégorie d'artisanat dans le menu.</li>
            <li>Choisir un artisan.</li>
            <li>Le contacter via le formulaire de contact.</li>
            <li><strong>Une réponse sera apportée sous 48h.</strong></li>
        </ol>
    </div>

    <div class="monthArtisan">
        <h1>Top artisans du mois</h1>

        <mat-slider min="0" max="{{topArtisans.length - 1}}" step="1" value="0" (change)="onSlideChange($event)">
            <input matSliderThumb>
        </mat-slider>

        <div *ngIf="topArtisans.length > 0"> <!--vérifier si topArtisans contient au moins une ligne-->
            <div *ngFor="let artisan of artisans | topArtisans; let i = index"> <!--permet d'itérer dans un tableau et de générer un élément html pour chaque élément de ce tableau, le pipe filtre les données-->
                <div *ngIf="i === sliderIndex"> <!--i prends successivement les valeurs des diférentes lignes générées par *ngFor-->
                    <img [src]="artisan.imageUrl" alt="{{artisan.name}}">
                    <h2>{{artisan.name}}</h2>
                    <strong>{{artisan.note}}
                        <img [src]="imageStarUrl" [alt]="titleStar"> /5</strong>
                    <p>{{artisan.specialty}}</p>
                    <p>{{artisan.location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>